.divider {
    background-color: var(--off-grey);
    width: 100% !important;
    height: 2px !important;
    margin-top: 4px;
    margin-bottom: 10px;
}
.previewtext {
    overflow-x: clip;
}

/*
    MOBILE VIEW SHENANIGANS
*/
@media screen and (max-width: 800px) {
    #mainBody {
        height: calc(91vh - 120px) !important;
    }
    .preview {
        top: 19vh !important;
    }
    .divider {
        background-color: var(--off-grey) !important;
        width: 100% !important;
    }
    .previewtext {
        width: calc(100% - 2em);
        margin: 1.5em 1em;
    }
}

/*
    END MOBILE VIEW SHENANIGANS
*/
