html, body {
  overflow-x: clip;
}
#catalogAd {

  background-color: var(--darker-violet);
  background-image: url("/static/2023_catalog_preview.png");
  background-size: 40%;
  animation: floataround 120s linear infinite;
  width: 100%;
  height: calc(100vh - 85px);
}
@keyframes floataround {
  0% {
    background-position: top left;
  }
  17% {
    background-position: top center;
  }
  34% {
    background-position: top right;
  }
  51% {
    background-position: bottom right;
  }
  68% {
    background-position: bottom center;
  }
  85% {
    background-position: bottom left;
  }
  100% {
    background-position: top left;
  }
}

#banner {
  background-color: var(--off-white);
  color: var(--off-black);
  width: 200%;
  height: 120px;
  font-size: 500%;
  position: relative; 
  top: 13vh;
  left: -50%;
  line-height: normal;
  padding-top: 17px;
  transform: rotate(-4deg);
}

#catalogDescHolder {
  background-color: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 6px 6px 5px 3px rgba(0, 0, 0, 0.6);
  position: relative;
  top: 25vh;
  width: 60vw;
  left: 20vw;
  height: 40vh;
  padding: 0 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
#cDesc {
  padding-top: 2em;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
#cDesc * {
  color: var(--off-white);
  font-size: 200%;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 1em;
}
#catalogViewBtn {
  background-color: var(--off-white);
  color: var(--off-black);
  border-radius: 20px;
  padding: 0 10px;
  height: 30%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-size: 250%;
  font-weight: bold;
  transition: background-color .3s;
}
#catalogViewBtn:hover {
  background-color: var(--dark-violet);
  color: var(--off-white);
}

#motionStop {
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 40px;
  border-radius: 20px;
}
.stopmoving {
  color: var(--off-grey);
  background-color: var(--off-white);
}
.startmoving {
  color: var(--off-white);
  background-color: var(--off-black);
}

@media screen and (max-width: 1200px) and (min-width: 771px) {
  #catalogAd {
    background-size: 50%;
  }
}

@media screen and (max-width: 770px) {
  #catalogAd {
    background-size: 150%;
  }
  #banner {
    width: 400%;
    left: -150%;
  }
}


/* Commenting this bit out b/c it has no use at the moment since there are no splits used
.split {
  height:100%;
  position: fixed;
  z-fixed: 1;
  top:0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left1 .left2 {
  left:0;
  width: 30%;
  background:#000;
  color: #FFFFFF;
}

.right1 .right2 {
  right:0;
  width:70%;
  background: #FFFFFF;
  color:#000;
}
*/

.navbar-whole {
  background-color:#FFF4D3;
}

/*
.navbar-top {
  display: flex;
  justify-content: center;
  background: rgb(255,154,232) !important;
  background: linear-gradient(180deg, rgba(255,154,232,1) 5%, rgba(230,123,227,1) 64%, rgba(206,113,228,1) 100%);
  height: 80px;
  font-size: 4rem;
  color: white !important;
}
*/

.navbar-items ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  background:#FFF4D3;
  color:#570057;
}

body{
  background: #FFF;
}
