 .u-section-1 {
  /*background-image: linear-gradient(#404040, #1a1a1a);*/
}

/*.u-section-1 .u-sheet-1 {
  min-height: 686px;
}*/

.u-section-1 .u-list-1 {
  margin-bottom: 60px;
  margin-top: 0;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 302px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 0.875rem;
  margin: 15px 800px 0 0;
}

.u-section-1 .u-text-2 {
  margin: 5px auto 0 0;
}

.u-section-1 .u-text-3 {
  margin: -24px 0 0 auto;
}

.u-section-1 .u-line-1 {
  transform-origin: right center 0px;
  margin-top: 13px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 73px;
  background-image: none;
  min-height: 38px;
  height: auto;
  margin: 10px auto 0 5px;
}

.u-section-1 .u-text-4 {
  /*width: 46px;*/
  margin: 5px auto 0;
}

.u-section-1 .u-group-2 {
  width: 135px;
  background-image: none;
  min-height: 38px;
  height: auto;
  margin: -38px auto 0 88px;
}

.u-section-1 .u-text-5 {
  /*width: 46px;*/
  margin: 5px auto 0;
}

.u-section-1 .u-group-3 {
  width: 73px;
  background-image: none;
  min-height: 38px;
  height: auto;
  margin: -38px auto 0 173px;
}

.u-section-1 .u-text-6 {
  width: 46px;
  margin: 5px auto 0;
}

.u-section-1 .u-text-7 {
  margin: 9px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-right: 600px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-group-2 {
    margin-top: -36px;
    margin-left: 86px;
    height: auto;
  }

  .u-section-1 .u-text-5 {
    margin-top: 0;
  }

  .u-section-1 .u-group-3 {
    margin-top: -37px;
    margin-left: 172px;
    height: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: 4px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  /*.u-section-1 .u-repeater-1 {
    min-height: 386px;
  }*/

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 380px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 189px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-right: 1px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 87px;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-bottom: -46px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 494px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 200px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 5px;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    margin-top: 5px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 12px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -38px;
    margin-left: 88px;
  }

  .u-section-1 .u-group-3 {
    margin-top: -38px;
    margin-left: 173px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 5px;
  }

  .u-section-1 .u-text-7 {
    margin-top: 7px;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-repeater-1 {
    min-height: 355px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 13px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: 6px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 6px;
    margin-right: auto;
    margin-left: 1px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 11px;
  }

  .u-section-1 .u-group-2 {
    margin-left: 89px;
  }

  .u-section-1 .u-group-3 {
    margin-right: 94px;
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    margin-top: 12px;
  }
}