 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  min-height: 1009px;
  background-image: url("images/3c30e3abdf7e2dde6f0f0b0205b09a94f1e3e2367c3771fd00e09d3fe1ea25c08e6817aa3ca21e13297dcd7b73109eb2cf3d808d059b02356d47e8_1280.jpg");
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-group-2 {
  width: 449px;
  min-height: 340px;
  height: auto;
  background-image: none;
  margin: 0 auto 0 -13px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 23px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0 0 0 7px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0 7px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    min-height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-2 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 7px;
    font-size: 1.5rem;
  }
}